body {
    background-color: aquamarine;
}

.foto{
    text-align: center;
}

.perkenalan:hover {
    color: yellow;
}

.ukuran-gambar {
    width: 200px;
    height: 200px;
    border-radius: 500px;
    margin: auto;
 
}
.satu {
    text-align: center;
    background-color : yellowgreen;
    font-size: larger;
    margin: auto;
}
.name {
    background-color: yellowgreen;
    border: 4px solid black;
    width: 1000px;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: center ;
    margin: auto;
}

.dua {
    text-align:center ;
    font-size: larger;
    background-color: yellowgreen;
}
.dua :hover {
    color:yellow ;
}
.akun {
    background-color : yellowgreen;
    width: 400px;
    border: 4px solid black;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
}
.tiga {
    text-align: center;
    font-size: larger;
    background-color: yellowgreen;
} 
.tiga :hover {
    color: yellow;
}
.pendidikan{
    background-color: yellowgreen;
    width: 250px;
    border: 4px solid black;
    font-size: larger;
    text-align: center;
    margin: auto;
}

.lima{
    text-align: center;
    font-size: larger;
    background-color: yellowgreen;
}
.lima :hover {
    color: yellow;
}
.skill{
    background-color: yellowgreen;
    width: 700px;
    height: 125px;
    border: 4px solid black;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border: 4px solid black;
    margin: auto;
}
    /* prestasi */
.empat{ 
    text-align: center;
    font-size: larger;
    background-color: yellowgreen ;
}
.empat:hover {
      color : yellow;
}
.pengalaman{
    background-color:yellowgreen;
    border:4px solid black;
    width: 700px;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
}

.enam{
    text-align: center;
    font-size: larger; 
    background-color:yellowgreen ;
    margin: auto;
}
.enam :hover {
    color: yellow;
}
.web{
    background-color: yellowgreen;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 4px solid black;
    text-align: center;
}

.prestasi{
    background-color: yellowgreen ;
    max-width: 400px;
    width: 700px;
    max-height: 70px;
    height: 900px;
    border: 4px solid black;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
}
.tujuh {
    background-color:yellowgreen ;;
    margin: auto;
    text-align: center;
    font-size: larger;
}
.tujuh :hover {
    color: yellow;
}
